.intro
	.intro__left
	.container
		.intro__title
			h1.h1 Правила акции
	.intro__right
main.main
	.container 
		.section-text
			h2.h2 Правила и условия акции
			ol 
				li Правила и условия — это набор правил и заявлений, которым пользователи сервиса должны следовать и с которыми они соглашаются, если хотят использовать сервис.
				li Правила и условия могут:
					ol 
						li Предотвращать злоупотребления. В правилах и условиях будут изложены рекомендации по использованию сервиса, а также то, что произойдёт, если пользователи не будут следовать рекомендациям.
						li Защищать контент. Правила и условия помогут донести до пользователей, что контент, который они предоставляют, принадлежит им.
						li Ограничивать ответственность. Правила и условия предупреждают пользователей, что компания не несёт ответственности за ошибки в предоставленном контенте.