.intro
	.intro__left
	.container
		.intro__title
			h1.h1 Ваши покупки
	.intro__right
main.main
	.container 
		.section-sales
			.sales
				.sales__title Ваши покупки
				.sales__items
					.sales__item 
						.sales__number #001
						.sales__bill Чек № 123456789-11
						.sales__date Дата: 10-07-2024
						.sales__name Участвует в розыгрыше 
					.sales__item 
						.sales__number #002
						.sales__bill Чек № 123456789-11
						.sales__date Дата: 10-07-2024
						.sales__name Участвует в розыгрыше 
					.sales__item 
						.sales__number #003
						.sales__bill Чек № 123456789-11
						.sales__date Дата: 10-07-2024
						.sales__name Участвует в розыгрыше 
					.sales__item 
						.sales__number #004
						.sales__bill Чек № 123456789-11
						.sales__date Дата: 10-07-2024
						.sales__name Участвует в розыгрыше 
					.sales__item 
						.sales__number #005
						.sales__bill Чек № 123456789-11
						.sales__date Дата: 10-07-2024
						.sales__name Участвует в розыгрыше 
				.pagination 
					ul 
						li 
							a(href="") <
						li 
							span 1
						li 
							a(href="") 2
						li 
							a(href="") 3
						li
							a(href="") ...
						li
							a(href="") >
			.add-sale
				.add-sale__info
					.add-sale__success Чек успешно зарегистрирован
				

