main.main
	.container 
		.section-main 
			ul 
				li
					a(href="index.html") Главная
				li
					a(href="rules.html") Правила акции
				li
					a(href="registration.html") Регистрация
				li
					a(href="form.html") Форма покупки
				li
					a(href="form2.html") Форма покупки 2
				li
					a(href="form3.html") Форма покупки 3
