main.main
	.svg-layer.svg-layer1
		.svg1 
			<svg width="486" height="385" viewBox="0 0 486 385" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M96.3822 379.224C49.028 361.848 62.2846 320.115 32.1004 290.048C-14.5976 243.484 6.03222 204.604 0.599679 164.332C-4.83286 124.059 27.9446 69.7685 46.427 53.5635C59.6599 41.8979 93.9216 27.356 150.9 16.0809C172.772 11.7368 205.769 -8.08361 250.389 3.67962C284.183 12.5631 327.818 29.8418 362.924 53.5635C398.823 76.7868 401.814 113.636 425.37 139.818C455.445 173.546 484.096 225.033 485.907 268.224C487.718 311.415 462.991 348.865 425.37 364.63C407.651 371.681 386.134 376.559 362.924 378.785C335.995 381.903 307.771 382.054 280.683 379.224C230.364 375.115 135.241 394.072 96.3822 379.224Z" fill="#422874"/>
			</svg>
		.svg2 
			<svg width="456" height="432" viewBox="0 0 456 432" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M139.04 398.812C96.9892 378.95 102 364.322 56.5 323.822C11 283.322 0.0874245 192.134 0 172.322C0 98.7819 40.0642 87.6943 56.5 69.3217C68.2149 56.2127 88.509 19.9404 139.04 7.17898C158.623 2.21343 193.506 -6.12867 233.109 7.17901C263.096 17.1101 270.152 35.1546 324.5 52.8218C378.848 70.489 372.651 115.557 393.621 145.122C420.285 183.257 461.287 241.752 454.818 309.233C450.272 358.889 421.596 397.223 388.2 415C372.465 422.968 353.373 428.493 332.773 431.038C308.844 434.573 283.572 426.53 259.5 423.322C214.904 418.654 173.465 415.577 139.04 398.812Z" fill="#422874"/>
			</svg>
		.svg3 
			<svg width="315" height="329" viewBox="0 0 315 329" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M97.3223 302.478C68.4193 287.592 47.1259 276.637 28.7028 250.88C0.200272 210.99 0.0667506 165.58 0 150.527C0 94.7482 26.1662 62.1755 37.4471 48.2934C45.5239 38.3 65.0818 14.8426 99.8589 5.18372C113.209 1.46232 134.703 -4.51702 161.937 5.56003C182.563 13.1701 196.247 26.1741 217.674 46.4955C239.585 66.3898 257.898 87.7483 272.276 110.177C290.632 139.071 319.001 183.393 314.529 234.573C311.391 272.205 291.7 301.265 268.738 314.771C257.923 320.811 244.789 324.989 230.623 326.897C214.187 329.568 196.96 329.697 180.427 327.273C149.715 323.753 121.04 315.197 97.3223 302.478Z" fill="#422874" />
			</svg>
	.svg-layer.svg-layer2 
		.svg4 
			<svg width="111" height="88" viewBox="0 0 111 88" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M95.1803 76.7122C89.2987 81.2475 85.0668 84.4107 76.9405 85.1459C67.389 85.576 60.8231 90.2498 38.8533 83.401C16.8835 76.5523 15.8768 63.6164 11.9544 57.3252C8.03194 51.034 -4.72114 41.3385 3.45969 24.9796C11.6405 8.62068 9.52099 3.28595 21.6148 0.987901C33.7086 -1.31016 49.9608 2.97409 57.2851 2.62213C66.2508 2.29323 76.7621 13.0094 90.3218 20.4952C94.8119 22.9407 98.8068 26.0067 102.05 29.4965C105.293 32.9863 107.713 36.8229 109.154 40.7599C110.096 44.1178 110.367 47.4534 109.958 50.6388C109.674 54.5367 108.662 58.2539 106.953 61.6776C104.449 67.4609 100.455 72.5608 95.1803 76.7122Z" fill="#422874" />
			</svg>
		.svg5 
			<svg width="99" height="85" viewBox="0 0 99 85" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15.165 72.643C20.5923 77.3609 24.4928 80.6572 31.7427 81.7448C40.2446 82.5968 46.2859 87.4814 65.4888 81.7448C84.6916 76.0083 89.8925 79.2087 93.0929 73.2077C96.2933 67.2067 102.294 42.4032 94.293 25.9721C86.2918 9.54094 87.9341 4.39804 77.0904 1.59748C66.2467 -1.20308 52.0063 2.27256 45.4858 1.59747C37.5088 0.871191 28.656 10.9207 16.9506 17.6611C13.0731 19.8604 9.66324 22.6912 6.94006 25.9721C4.21688 29.2529 2.2405 32.9112 1.13772 36.7122C0.452407 39.967 0.361378 43.2301 0.868158 46.3762C1.29549 50.2164 2.36129 53.912 4.03315 57.3506C6.51758 63.142 10.2936 68.3294 15.165 72.643Z" fill="#422874" />
			</svg>
	.container 
		.section-main 
			.section-main__left 
				.section-main__title-img
					img(src="./img/title.png" alt="")
				.section-main__logo 
					img(src="./img/logo.svg " alt="")
				.section-main__subtitle Регистрируй чеки за<br>покупку – получай призы
				.section-main__date С 1 апреля по 31 июля 2025
				a(href="#reg-popup" data-fancybox class="btn") 
					span Войти
			.section-main__right
				.section-main__items 
					.section-main__item
						.section-main__img
							img(src="./img/1.png" alt="")
						.section-main__title Главный<br>приз
					.section-main__item
						.section-main__img
							img(src="./img/2.png" alt="")
						.section-main__title Каждый<br>месяц
					.section-main__item
						.section-main__img
							img(src="./img/3.png" alt="")
						.section-main__title Каждую<br>неделю
