.bg-menu
header.header
	.container
		.header__inner
			a.logo(href="index.html")
				img(src="./img/logo.png" alt="")
			a.header__phone(href="tel:8 (383) 319-54-64") 8 (383) 319-54-64
			nav.nav
				ul.nav__list 
					li.nav__list-item
						a.nav__link(href="#") Правила акции
					li.nav__list-item
						a.nav__link(href="#") Победители
					li.nav__list-item
						a.nav__link(href="#") Призы
			.header__login
					a.header__link(href="") +7 (999) 999-99-99
			button.hamburger(type="button")
				.hamburger__button
					span
					span
					span
	.header-popup 
		.header-popup__inner 
			.header-popup__close 
			.header-popup__subtitle Меню:
			.header-popup__list 
				ul
					li
						a(href="") Правила акции
					li
						a(href="") Победители
					li
						a(href="") Призы
					li
						a(href="") Войти
					li
						a(href="") Регистрация

			.header-popup__subtitle Телефон:
			.header-popup__text
				a.header__phone(href="tel:8 (383) 319-54-64") 8 (383) 319-54-64
		