script(src="./libs/js/jquery.min.js")
script(src="./libs/js/jquery.maskedinput.js")
//- script(src="./libs/slick/slick.js")
//- script(src="./libs/js/lightTabs.js")
//- script(src="./libs/js/jquery.magnific-popup.js")
//- script(src="./libs/js/select.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
//- script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
script(src="./js/main.js")