@font-face {
	font-family: 'gooseberry';
	src: url('../fonts/gooseberrynormal.eot');
	src: url('../fonts/gooseberrynormal.eot?#iefix') format('embedded-opentype'),
			url('../fonts/gooseberrynormal.woff2') format('woff2'),
			url('../fonts/gooseberrynormal.woff') format('woff'),
			url('../fonts/gooseberrynormal.ttf') format('truetype'),
			url('../fonts/gooseberrynormal.svg#gooseberrynormal') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

