// $fa-font-path: "../webfonts";
// $font: 'Montserrat', sans-serif;
$font-family: 'gooseberry';
$font-family-second: "Ubuntu", sans-serif;
$font-family-third:"Roboto", sans-serif;

$color-text-dark: #000000;
$color-text-light: #ffffff;
// $color-primary: #d18250;
$color-accent: #E30613;

// $color-second: #2383f7;
// $color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

// $color-border: #eff0f1;

// $color-input-border: #e4e6e9;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
